name: Mac OS
on:
  release:
    types: [published, edited]

jobs:
  build-mac:
    name: Mac OS x86_64
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: mad9000/actions-find-and-replace-string@5
        with:
            source: ${{ github.ref }}
            find: 'AWS_CONFIG_GENERATOR_VERSION'
            replace: ${{ github.ref }}

      - name: Cache Rust dependencies
        uses: actions/cache@v3.0.11
        with:
          path: target
          key: ${{ runner.OS }}-build-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.OS }}-build-

      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: beta
          target: x86_64-apple-darwin
          default: true
          override: true

      - name: Build for mac
        run: cargo build --all --release

      - name: Archive Release
        run: zip --junk-paths aws-config-generator-mac-x86_64.zip target/release/aws-config-generator config.toml.example

      - name: Upload zip to release
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: 'aws-config-generator-mac-x86_64.zip'
          asset_name: 'aws-config-generator-mac-x86_64.zip'
          tag: ${{ github.ref }}
